# ignore rules
# https://www.cnblogs.com/kevingrace/p/5690241.html

# Test script
/.Testors/*
# VS settings
/.vs/
# VS code settings
/.vscode/

/AutoCAD/*
!/AutoCAD/Fonts

/Temp_Markdown/*
!/Temp_Markdown/MyMarkdownTemp.md
!/Temp_Markdown/图片1.jpg
!/Temp_Markdown/超链接txt文本.txt

/Temp_Calculaion/_Template.tex
/Temp_Calculaion/*.pdf

*__*
*Testor*

*._ls
*.pyc
*.gz

*.log
*.draft



