# ignore rules
# https://www.cnblogs.com/kevingrace/p/5690241.html


# visual studio settings
/.vs/
# visual studio code settings
/.vscode/
# what to do on this computer
/todo.md

# Test script
*Tester*

# templates
/Template/*
!/Template/MyMarkdownTemp.md
!/Template/CalTemp.tex
# produced file
/Template/_Template.tex
/Template/*.pdf
/Template/*.doc

*__*

# python
*.pyc
~$*
# tex
*.gz
*.aux

# lisp
*._ls

# C++
*.exe

# draft
*.draft
# log
*.log


