# 避免忘记
# https://www.cnblogs.com/kevingrace/p/5690241.html

/.vs/
/.vscode/
/MarkdownTemp/*
!/MarkdownTemp/MyMarkdownTemp.md
!/MarkdownTemp/图片1.jpg
!/MarkdownTemp/超链接txt文本.txt

/CalcutaionTemp/*
!/CalcutaionTemp/Calcutation.py
!/CalcutaionTemp/CalTemp.tex




*._ls
*.log
*.draft



